# Lists

A list in Python is an ordered (and indexed) collection of objects

**Create a list using a common way, just add them to [   ]** E1

---

In [5]:
A = [1, "This is a list", 'ABSD', 1.5,['ONE',2,3]]
print(A)

[1, 'This is a list', 'ABSD', 1.5, ['ONE', 2, 3]]

**Create a list using for loop** E2

In [7]:
x = [i for i in range(7)]
print(x)
y= [range(7)]
print(y)
y= [*range(7)]
print(y)

[0, 1, 2, 3, 4, 5, 6]
[range(0, 7)]
[0, 1, 2, 3, 4, 5, 6]

**Access list** E3

In [13]:
MYL = [5, 2.3, 'Hello',['H','H']]
print("First element:", MYL[0])
print("Second element:", MYL[1])
print("Third element:", MYL[2])
print("Last element:", MYL[3])
print("Last element:", MYL[-1])
print("First element:", MYL[-4])

First element: 5
Second element: 2.3
Third element: Hello
Last element: ['H', 'H']
Last element: ['H', 'H']
First element: 5

In [ ]:
#E3-1
MYL = [5, 2.3, 'Hello']
print(MYL[3])

IndexError: ignored

**You can iterate over lists in a very natural way** E4

In [ ]:
for elt in [5, 2.3,'Hello']:
    print(elt)

5
2.3
Hello

In [15]:
#One more example about how to access the element in a list here
a = ['x', 1, 3.5,[1,2,3,'w']]
print(a)
print(a[0])
print(a[3])
print(a[3][2])

['x', 1, 3.5, [1, 2, 3, 'w']]
x
[1, 2, 3, 'w']
3

**Slicing and adding** E5

In [ ]:
myList = [5, 2.3, 'hello'] 
slicedlist = myList[0:2] # [5, 2.3]  this is used to slice a list
mySecondList = ['a', '3'] 
concatList = myList + mySecondList # [5, 2.3, 'hello', 'a', '3'] the two lists are added here

print("slicedList:", slicedlist)
print("concatList:", concatList)

slicedList: [5, 2.3]
concatList: [5, 2.3, 'hello', 'a', '3']

**Multiplication** E6

In [ ]:
myList = ['hello', 'world'] 
print(myList * 2)
print(myList * 3)

['hello', 'world', 'hello', 'world']
['hello', 'world', 'hello', 'world', 'hello', 'world']

**Lists are mutatable** E7

In [ ]:
#Lists are mutatable
myList = ['a', 43, 1.234] 
myList[0] = -3 # [-3, 43, 1.234]
print(myList)

[-3, 43, 1.234]

**Shallow Copy a list** E8

In [ ]:
# Can We copy a list
a = ['a', 'b', 'c'] 
b = a # let’s copy list1 
print(b) 
b[1] = 1 # now we want to change an element 
print(b) # [’a’, 1, ’c’] 
print(a) # [’a’, 1, ’c’]

['a', 'b', 'c']
['a', 1, 'c']
['a', 1, 'c']

(deep copy) Try some different ways like List.copy() E9

In [16]:
a = ['a', 'b', 'c']
b = a.copy() # deep
print("original a:", a)
print("original b:", b)
b[0] = "edited"
print("after edit...")
print("a:", a)
print("b:", b)

original a: ['a', 'b', 'c']
original b: ['a', 'b', 'c']
after edit...
a: ['a', 'b', 'c']
b: ['edited', 'b', 'c']

#Methods of List

You can append to lists using `.append()`, and do other operations, such as `pop
()`, `insert()`, etc.

In [ ]:
a = []
for i in range(10):
    a.append(i**2)
print(a)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
a = [1,2,3]
b = ["x", "y"]
a.extend(b)
print(a)

[1, 2, 3, 'x', 'y']

In [18]:
a = [1, 2]
while len(a) > 0:
    elt = a.pop()
    print(f"Removed {elt}, a is now {a}") #f-string to

Removed 2, a is now [1]
Removed 1, a is now []

In [ ]:
a = [1,2,3]
a.insert(1,'new value')
print(a)

[1, 'new value', 2, 3]

In [ ]:
a = [1,2,3]
a.remove(1)
print(a)

[2, 3]

In [ ]:
d = [5, 6, 9, 8, 7, 10]
d.sort()
print(d)

[5, 6, 7, 8, 9, 10]

#Other useful methods in List

In [ ]:
a = [66.25, 333, 333, 1, 1234.5]
print("Result 1:", a.count(333)) 
print("Result 2:", a.count(66.25))
print("Result 3:", a.count('x'))
print("Result 4:", a.index(66.25))
a.reverse()
print("Result 5:", a)
a.sort()
print("Result 6:", a)

Result 1: 2
Result 2: 1
Result 3: 0
Result 4: 0
Result 5: [1234.5, 1, 333, 333, 66.25]
Result 6: [1, 66.25, 333, 333, 1234.5]

## List Comprehensions

Python's list comprehensions let you create lists in a way that is reminiscent of set notation

$$ S = \{ x ~\mid~ 0 \le x \le 20, x\mod 3 = 0\}$$

In [ ]:
S= []
for x in range(21):
    if x % 3 == 0:
        S.append(x)
print(S)

[0, 3, 6, 9, 12, 15, 18]

# Other Collections

We've seen the `list` class, which is ordered, indexed, and mutable.  There are other Python collections that you may find useful:
* `tuple` which is ordered, indexed, and immutable
* `set` which is unordered, unindexed, mutable, and doesn't allow for duplicate elements
* `dict` (dictionary), which is unordered, indexed, and mutable, with no duplicate keys.

In [ ]:
a_tuple = (1, 2, 4)
a_tuple[0] = 3

TypeError: ignored

In [19]:
Basket = ['apple', 'orange', 'apple', 'pear'] 
Fruit = set(Basket)    # from list to set 
print(Fruit)

{'orange', 'pear', 'apple'}

In [20]:
a_set = {5, 3, 2, 5}   #automatically deredundant
for i in a_set:
    print(i)

2
3
5

In [22]:
a_set.add(6)
print(a_set)
a_set.remove(6)
a_set

{2, 3, 5, 6}

{2, 3, 5}

In [23]:
a_dict = {}      # for dict the key must be unique    
a_dict[5] = 12   # take up more memory but faster  
a_dict["key_2"] = 27
a_dict["key_3"] = [13, "value"]
a_dict[5] = "new value"
a_dict["key_2"] = 28
a_dict

{5: 'new value', 'key_2': 28, 'key_3': [13, 'value']}